<h1> Submitting a new Starter Kit </h1>
<form method="POST" action="/user/submit/submitAction" name="submitStarterKit">
    <label>Starter Kit Name: </label><input type="text" name="name" value="{{kit.name}}">
    <label>Github Repo Link</label><input type="text" name="link" value="{{kit.link}}">
    <label>Environment</label><input type="text" name="environment" value="{{kit.environment}}">
    <label>Sub Tool/s</label><input type="text" name="subTool" value="{{kit.subTool}}">
    <label>Setup Time</label><input type="text" name="setupTime" value="{{kit.setupTime}}">
    <label>Description</label> <br/>
    <textarea name="description">{{kit.description}}</textarea>
    <p>
        <label name="author"> Author: {{user.username}}</label>
        <label id="date"></label>
    </p>
    <input type="hidden" name="h_author" value="{{user.username}}">
    <input type="hidden" name="db_doc_id" value="{{kit._id}}"> <!-- may only be tempoary or be encrypted using Bcrypt as I
                                                                        shouldn't have private data exposed to the clientside -->
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="submit" value="Submit Kit">
</form>

<script>
(function() {
    let currentDate = new Date();
    let dd = currentDate.getDate();
    let mm = currentDate.getMonth() + 1;

    let yyyy = currentDate.getFullYear();
    if (dd < 10) {
        dd = '0'+dd;
    }
    if (mm < 10) {
        mm='0'+mm;
    }
    let date = dd+'/'+mm+'/'+yyyy;
    document.getElementById("date").innerHTML += 'Last Updated: ' + date;
})();
</script>
